#content{
	background: url("MadisonWisconsin-image.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

#content .container{
    height: 100vh;
}

#content .container #main{
	margin: 0 auto;
    margin-top: 35px;
    border-radius: 10px;
    width: 960px;
    padding: 20px;
    background: -webkit-linear-gradient(red, blue);
  	background: -o-linear-gradient(red, blue);
  	background: -moz-linear-gradient(red, blue);
  	/*background: linear-gradient(#e60000,#990000); */
  	background: linear-gradient(#990000, #e60000 ,#990000); 
}

#content .container #main .map {
    height: 400px;
    width: 100%;
}

#content .container #main h1{
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
    font-style: italic;
	color:#eeeeee;
	margin-bottom: 20px;
}

#content .container #main h2{
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	color:#eeeeee;
}

#content .container #main .rating{
  display: none;
  margin-left: 10px;
}

#content .container #main .rating-title{
  font-size: 19px;
  cursor: pointer;
}

#content .container #main #info{
  display: none;
  color: #eeeeee;
  border: 2px solid white;
  padding-left: 23px;
  margin-top: 9px;
  margin-left: -8px;
  max-height: 318px;
  overflow-y: scroll;
  overflow-x: hidden;
}

#content .container #main #info .fa-info-circle{
  font-size: 14px;
  float: right;
  padding-right: 100px;
  padding-top: 8px;
}